<div class="tiles">
  <ng-container [extra]="{position: 'top'}" [appDynamicTile]="tile" *ngFor="let tile of tiles.top"></ng-container>

  <ng-container *ngFor="let tile of tiles.left; let i = index">
    <ng-container [extra]="{position: 'left'}" [appDynamicTile]="tile"></ng-container>
    <ng-container [extra]="{position: 'right'}" [appDynamicTile]="tiles.right[i]"></ng-container>
  </ng-container>

  <ng-container [extra]="{position: 'bottom'}" [appDynamicTile]="tile" *ngFor="let tile of tiles.bottom"></ng-container>
  <div class="middle">

    <div class="logs">
      <pre>{{actions|json}}</pre>
      <button *ngIf="actions?.canRoll" (click)="gameController.roll()">Roll</button>

      <button *ngIf="actions?.needPurchase" (click)="buy()">Buy</button>
      <button *ngIf="actions?.needPurchase" (click)="pass()">Pass</button>
      <button *ngIf="actions?.canEnd" (click)="endTurn()">End Turn</button>
      <button *ngIf="actions?.canBuyOut" (click)="buyOut()">buyOut</button>

      <div class="players">
        <div class="player" *ngFor="let p of game.players">{{p.name}} ({{p.money|currency:'USD':'symbol':'1.0-2'}}) - Pos {{p.position}}</div>
        <p>Game state: {{game.gameState}}</p>
        <hr>
        <div class="log-area"><p *ngFor="let log of game.log">{{log}}</p></div>
      </div>
    </div>
  </div>
</div>
<div class="player-pos" [color]="p.color" [appPlayerPosition]="p.position" *ngFor="let p of game.players"></div>
